{% extends 'base.html' %}

{% block title %}
Password Changed
{% endblock title %}

{% block content %}
<div class="container-fluid c-shadow-medium-s c-content-back c-margin-top-resp pt-5" style="min-height: 800px; margin-bottom: 200px; margin-top: 100px;">
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-8">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Password Changed!</h3>
					<div class="alert alert-success" role="alert">
						You have successfully changed your password! You may now proceed to log in.
					</div>
					<a href="{% url 'login' %}" class="btn c-back-normal c-text-normal c-shadow-small-h"></a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}