{% extends 'base.html' %}

{% block title %}
	{% if validlink %}
	 Change password for {{ form.user.username }}
	{% else %}
	 Reset your password
	{% endif %}
{% endblock title %}

{% block content %}
<div class="container-fluid c-shadow-medium-s c-content-back c-margin-top-resp pt-5" style="min-height: 800px; margin-bottom: 200px; margin-top: 100px;">
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-8">
			<div class="card">
				<div class="card-body">
					{% if validlink %}
						<h3 class="card-title">Change password for @{{ form.user.username }}</h3>
						<form method="post" novalidate>
							{% csrf_token %}
							{% include 'includes/form.html' %}
							<center><button type="submit" class="btn c-back-normal c-text-normal c-shadow-small-h">Change Password</button></center>
						</form>
					{% else %}
						<h3 class="card-title">Reset your password</h3>
						<div class="alert alert-danger" role="alert">
							It looks like you clicked on an invalid password reset link. Please try again.
						</div>
						<a href="{% url 'password_reset' %}" class="btn c-back-normal c-text-normal c-shadow-small-h">Request a new password reset link</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}