{% extends 'base.html' %}

{% block title %}
Reset Your Password
{% endblock title %}

{% block content %}
<div class="container-fluid c-shadow-medium-s c-content-back c-margin-top-resp pt-5" style="min-height: 800px; margin-bottom: 200px; margin-top: 100px;">
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-8">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Reset your password</h3>
					<p>Enter your email address and we will send you a link to reset your password.</p>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<center><button type="submit" class="btn c-back-normal c-text-normal c-shadow-small-h">Send password reset link</button></center>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}